body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-color white-space:
  background-repeat: no-repeat;
  background-position: center;;
  background-attachment: fixed;
}
.team {
  color: red;
  text-align: center;
}
.logo {
  text-align: center;
  backgroun
}
.page-header {
  text-align: center;
  background-color: white;
}
